.question-item.active
  .row
    .col-sm-3.answer
      -if current_user.nil?
        %div Необходимо войти, чтобы ответить
      -else
        - if can?(:answer, question)
          - unless current_user.answered? question
            = render 'answers/form', answer: question.answers.new, question: question, category: @category, value: true
        - if can? :close, question
          = form_tag close_category_question_path(question.category, question), method: 'put', class: 'close-question' do
            = hidden_field_tag :right_answer, true
            = submit_tag 'Правильный ответ -  "Да"', class: 'btn btn-success', id: 'Да'
    .col-sm-6.info
      .row
        .col-sm-6
          = image_tag question.image
        .col-sm-6
          .question-title= question.title
          .question-text=   question.text
      .row
        - if current_user && (current_user.answered? question)
          %div
            Вы ответили
            %strong
              = current_user.answer_for(question).value == true ? 'да' : 'нет'
          = render partial: 'questions/results', locals: {question: question}
    .col-sm-3.answer
      - unless current_user.nil? || (cannot? :answer, question)
        = render 'answers/form', answer: question.answers.new, question: question, category: @category, value: false
      - if can? :close, question
        = form_tag close_category_question_path(question.category, question), method: 'put', class: 'close-question' do
          = hidden_field_tag :right_answer, false
          = submit_tag 'Правильный ответ - "Нет"', class: 'btn btn-danger', id: 'Нет'


      -#- unless current_user
      -#  %div Необходимо войти, чтобы ответить
      -#- else
      -#  - unless current_user.answered? question
      -#    = render 'answers/form', answer: question.answers.new, question: question, category: @category
      -#  - else
      -#    %div
      -#      Вы ответили
      -#      %strong
      -#        = current_user.answer_for(question).value == true ? 'да' : 'нет'
      -#    = render partial: 'questions/results', locals: {question: question}
      -#- if can? :close, question
      -#  = form_tag close_category_question_path(question.category, question), method: 'put', class: 'close-question' do
      -#
      -#
