.question-item.active
  .row
    .col-sm-6
      = image_tag question.image
    .col-sm-6
      .question-title= question.title
      .question-text= question.text
      - if current_admin
        = link_to "Question link", category_question_path(@category,question)
      - unless current_user
        %div Необходимо войти, чтобы ответить
      - else
        - unless current_user.answered? question
          = render 'answers/form', answer: question.answers.new, question: question, category: @category
        - else
          %div
            Вы ответили
            %strong
              = current_user.answer_for(question).value == true ? 'да' : 'нет'
          %div.results
            - yes_percent = (question.answers.where(value: true).count * 100 / question.answers.count).to_i
            - no_percent = 100 - yes_percent
            #left-yes
              .yes-no
                Да
              .percent
                = yes_percent.to_s + '%'
            #right-no
              .yes-no
                Нет
              .percent
                = no_percent.to_s + '%'