- guessed = question.community_guessed?
.question-item{class: guessed ? 'guessed' : 'not_guessed'}
  .row
    .col-sm-6
      = image_tag question.image
    .col-sm-6
      .question-title= question.title
      .question-text= question.text
      %p
        %strong= guessed ? "Сообщество предсказало верно" : "Сообщество ошиблось"
      %div.results
        - yes_percent = (question.answers.where(value: true).count * 100 / question.answers.count).to_i
        - no_percent = 100 - yes_percent
        #left-yes
          .yes-no
            Да
          .percent
            = yes_percent.to_s + '%'
        #right-no
          .yes-no
            Нет
          .percent
            = no_percent.to_s + '%'
      %p
        = "Правильный ответ - #{question.right_answer ? 'Да' : 'Нет'}"
      - if current_admin
        = link_to "Question link", category_question_path(@category,question)
      - if user_signed_in? && current_user.answered?(question)
        %div
          Вы ответили
          %strong
            = current_user.answer_for(question).value == true ? 'да' : 'нет'