- guessed = question.community_guessed?
- if guessed
  .question-item.guessed
-else
  .question-item.not_guessed
    .row
      .col-sm-6
        = image_tag question.image
      .col-sm-6
        .question-title= question.title
        .question-text= question.text
        %p
          %strong= guessed ? "Сообщество предсказало верно" : "Сообщество ошиблось"
        %p
          = "Правильный ответ - #{question.right_answer ? 'Да' : 'Нет'}"
        - if current_admin
          = link_to "Question link", category_question_path(@category,question)
        - if user_signed_in? && current_user.answered?(question)
          %div
            Вы ответили
            %strong
              = current_user.answer_for(question).value == true ? 'да' : 'нет'