- guessed = question.community_guessed?
.question-item{class: guessed ? 'guessed' : 'not_guessed'}
  .row
    .col-sm-6
      = image_tag question.image
    .col-sm-6
      .question-title= question.title
      .question-text= question.text
      %p
        %strong= guessed ? "Сообщество предсказало верно" : "Сообщество ошиблось"
      = render partial: 'questions/results', locals: {question: question}
      %p
        = "Правильный ответ - #{question.right_answer ? 'Да' : 'Нет'}"
      - if user_signed_in? && current_user.answered?(question)
        - answer = current_user.answer_for question
        %div
          Вы ответили
          %strong= answer.yes_or_no
        .vk_share_button_place
          = vk_button question.title, 
            "#{question.text} #{answer.is_right ? 'Я угадал' : 'Я ошибся'}",
            question.image.url(:default, timestamp: false),
            '<span class="btn btn-primary">Поделиться<br> с друзьями</span>'
