!!!
%html

  %head
    %meta{:charset => 'utf-8'}
    %title Ностравангус | Народное предсказание
    %meta{name: 'description', content: 'Заходи на сайт, регистрируйся и участвуй в прогнозах результатов матчей ЧМ-2014 по футболу! Смотри свою статистику, хвастайся, а на заработанные баллы - устраивай свои опросы! Предскажи победу нашей сборной на Чемпионате Мира в Бразилии!'}
    %meta{name: 'keywords', content: 'прогноз, ЧМ-2014, чемпионат мира по футболу 2014, Бразилия, предсказания, fifa world cup 2014, исход матча'}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application.js'

    = javascript_include_tag 'http://vk.com/js/api/share.js?90', charset: 'windows-1251'


  %body

    %nav{class: 'navbar navbar-default navbar-fixed-top', role: 'navigation'}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{:type => 'button', 'data-toggle' => 'collapse', 'data-target' => '#main-navbar'}
            %span{:class=> 'sr-only'}Toggle navigation
            %span{:class=> 'icon-bar'}
            %span{:class=> 'icon-bar'}
            %span{:class=> 'icon-bar'}
          %a.navbar-brand{:href=>'/'}
            %img{src: '/nostra_logo_vert.png', style: 'height: 20px;'}

        #main-navbar.collapse.navbar-collapse

          %ul{:class => 'nav navbar-nav navbar-right'}
            - if user_signed_in?
              %li= link_to "#{current_user.username} (#{current_user.provider})", current_user.url
              %li
                %p.navbar-text= "Процент правдивых предсказаний - #{current_user.rate}%"
              - if current_user.account > 0
                %li
                  %p.navbar-text= "На Вашем счету #{current_user.account} #{t :vanga, count: current_user.account}"
              %li= link_to "Выйти", destroy_user_session_path, :method => :delete
            - if !user_signed_in?
              %li= link_to "Войти через VK", user_omniauth_authorize_path(:vkontakte)
    #main_wrapper
      #nav_spacer
      .container
        = yield

      #footer_spacer
      #footer
        %div
          Powered by
          %a{href: 'http://kerweb.ru', target: 'blank'}
            Kernel Web


